<html>
  <head>
   	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>
  <body>
	<nav class="navbar navbar-inverse navbar-static-top">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="/">
        			Nazbeulbeuck
      			</a>
   			 </div>
   			 <div class="navbar-text">
   			 	<a href="/zheros" class="navbar-link">zHéros</a>
   			 </div>
   			 <div class="navbar-text navbar-right" style="margin-right:20px;">
   			 	<a href="/login" class="navbar-link">Login</a>
   			 </div>

  		</div>
	</nav>
    {% block content %}{% endblock %}

    <footer style="margin-top: 100px">
      <center>
        <i style="color:gray;">&copy; Projet Python groupe web@cadémie bompar_a & Reygni_p</i>
      </center>
  </footer>
  </body>
</html>