{% extends "base.html" %}
{% block content %}
{{room_id}}
<script src="{{ url_for('static', filename='js/room_board.js') }}"></script>
<div class="container">
    <br /><br />
    <div class="col-lg-7">
        <div class="panel panel-primary">

            <div class="panel-heading">

                <h3 class="panel-title">Liste des parties :</h3>

            </div>

            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Numéro</th>
                            <th>Nom de la salle</th>
                            <th>Places restante</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>

        </div>
        

            
        

    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">

            <div class="panel-heading">

                <h3 class="panel-title">Création de partie</h3>

            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label>Nom de la partie</label>
                    <input type="text" id="party_name" class="form-control" />
                    <br />
                    <label>Nombre de joueurs</label>
                    <select class="form-control" id="NBslot">
                        <option name="value" value="1">1 Joueur</option>
                        <option name="value" value="2">2 Joueur</option>
                        <option name="value" value="3">3 Joueur</option>
                        <option name="value" value="4">4 Joueur</option>
                        <option name="value" value="5">5 Joueur</option>
                    </select>
                    <br />
                    <button class="btn btn-primary form-control" id="create_room">Créer partie</button>
                </div>
            </div>

        </div>
        
    </div>
{% endblock %}
