{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='js/webrtc-adapter.js') }}"></script>
<script src="{{ url_for('static', filename='js/room.js') }}"></script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
<input type="hidden" id="room_id" value="{{room_id}}" />
<input type="hidden" id="id_perso" value="{{persoJoueur.id}}"> 
<div class="container">
        <div class="col-lg-12">
            <div class="col-lg-3">
              <div class="playerlist_editor_container">
                Chargement/attente de joueurs ...
                
            </div>
        </div>
            <div class="col-lg-6">
                <center><h2>Plateau de jeu N° {{room_id}}</h2></center>
                <br /> <br /> <br /> <br />

                <div class="chatbox_container" id="chatbox_container" style="overflow : auto;height: 350px">
                    <p><span style="color: red;">Maitre du jeu</span>  Btx dit : Bonjour et bienvenue sur la room {{room_id}}, je serais le maitre du jeu de cette partie !</p>
                    <p><span style="color: blue">Mage</span> Dayknor rejoint la partie {{room_id}} !</p>
                    <p><span style="color: blue">Mage</span> Dayknor dit -> : Salut all</p>
                    <p><span style="color: red;">Maitre du jeu</span> Btx dit : Bonjour et bienvenue sur la room {{room_id}} Mage Dayknor, est-tu prêt a m'affronter ?</p>
                    <p><span style="color: blue">Mage</span> Dayknor dit -> : Oui, c'est partit !</p>
                    <p><span style="color: red;">Maitre du jeu</span> Btx dit : Quand tu sens prêt, fait /combat pour lancer l'aventure !</p>
                </div>
                <div class="col-lg-10">
                    <input type="text" id="text_value" class="form-control" placeholder="tapez votre message ...">
                   
                </div>
                <div class="col-lg-2">
                    <button type="button" id="btn_send" class="btn btn-primary pull-right">Envoyer</button>
                </div>
                
                <div class="col-lg-12 playerlist_container" style="margin-top : 10px">
                  Chargement/attentes de joueur
                </div>

                  
              </div>
        
        <div class="col-lg-3">
                <h2>Maitre du jeu <b>JudgeDead</b></h2>
                <div class="remotevideos">
                    Visio is loading ...
                 <video id="remote" autoplay width="100%" height="200px"></video>

                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100" style="width:50%; background-color: red">
                        <span >1800 HP/30068 HP</span>
                    </div>
                </div>
                <h3>Visio</h3>
                <div class="remotevideos">
                 <video id="remote" autoplay ></video>
                </div>
        </div>
        </div>
        

    <footer>
        <span id="status" class="small"></span>
        <span id="streaming" class="small"></span>
    </footer>
        <!--<div class="videos" width="200px" height="200px">
            <div class="remotevideos">
                <video id="remote" autoplay ></video>
                REMOTE
            </div>
            <div class="localvideos">
                <video id="local" autoplay muted></video>
                LOCAL
            </div>
        </div>
    -->
{% endblock %}
