{% extends "base.html" %}
{% block content %}


<center>
    <h1>Créer Votre personnage</h1>
</center>
    <h2>Selectionner un personnage {{perso}}:</h2>
	{% for perso in persos %}
	<div class="row">
	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	      <img src="http://i73.servimg.com/u/f73/11/13/70/81/elfe0210.gif" alt="#">
	      <div class="caption">
	        <h3>{{ perso.name }}</h3>
	        <p>Description/Stats</p>
	        <p><a href="#" class="btn btn-primary" role="button">Jouer</a> <a href="#" class="btn btn-default" role="button">Détails</a></p>
	      </div>
	    </div>
	  </div>
	</div>
    {% endfor %}
<a class="btn btn-default" href="/newhero" role="button">Nouveau Hero</a>
{% endblock %}
